body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/*Global*/
.container{
    width: 80%; /* procenti radi responzivnosti*/
    margin: auto; /* centriram sve */
    overflow: hidden; /* necu da imam scroll bar na divovima i ako je sadrzaj veci od diva nece se videti*/
}
ul{
    list-style-type: none; /*ovo iz nekog razloga ne pravi razliku u primeru, nema bulet svejedno*/
    margin: 0;
    padding: 0;/* ovo postavljam posto po difoltu ima peding, video sam na jos par primera da se ovo radi, proveri to jos*/    
}

.button_1{
    height: 38px;
    background: green;
    padding-left: 20px;
    padding-right: 20px;
    border: none; /*dugmad imaju borduru po difoltu, bolje ukloniti*/
    color: white;
}


/*header*/

header{
    background-color: #35424a;
    color: #ffffff;
    padding-top: 10px;
    min-height: 70px; /*bitno za responzivnost*/
    border-bottom: yellow 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    display: inline-block;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
    margin-top: 10px;
}

header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 24px;
}
header .highlight, header .current a{
    color: green;
    font-weight: bold;
}
header a:hover{
    color:  rgb(204, 204, 204);
}
 

/*Showcase*/
#showcase{
   min-height: 400px; /* ovako je fleksibilnije*/
   position: relative;
   text-align: center;
   color: white;
}
#showcase::after{ /* caka kako da menjam opacity pozadine*/ /*36 minut klipa build an html5 site with responsive layout*/
    content: "";
    background: url(../img/norwich-bground.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
#showcase h1{
    margin-top: 10%;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 1.5rem;
}

/*Newsletter*/

#newsletter{
    padding: 5px;
    background: #35424a;
    color: #ffffff;
    border-bottom: yellow 3px solid;
}
#newsletter h1{
    float: left;
}
#newsletter form{
    float: right;
    margin-top: 15px;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/*Boxes*/

#boxes{
    margin-top: 30px;
}
#boxes .box{
    float: left; /*rasporedim ih tako da budu u liniji*/
    width: 30%; /*radi responzivnosti*/
    text-align: center;
    font-family: 'Langar', cursive;
    padding: 10px;
    margin-top: 20px;
}

#boxes .box img{
    height: 90px;
}
#boxes #norwich{
    margin-top: -10px;
}
/*footer*/

footer{
    padding: 0.1px;
    padding-right: 40px;
    margin-top: 10px;
    background-color: green;
    color: yellow;
    text-align: right;
}

/*about strana*/
.first-layer{
    margin: auto;
    width: 80%;
    min-height:600px;
    position: relative;
}
.first-layer::after{
    content: "";
    background:url(../img/teren2.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85% 100% ;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    z-index: -1;
}
.wrapper-field{
    display: grid;
    grid-template-columns: 10% 25% 25% 20% 20% ;
    grid-template-rows: repeat(5,20%);
    gap: 5px;
    margin: auto;
    width: 85%;
    height: auto;
    min-height: 600px;
    
}
.player-name{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.player-f{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.player-f img{
    width: 80px;
    height: auto;
}
.player-1{
    position: relative;
    top: 13px;
    text-align: center;
    left: 54px;
    grid-column: 1/2;
    grid-row: 3/4;
}
.player-2{
    margin-top:60px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.player-3{
    position: relative;
    top: 60px;
    grid-column: 2/3;
    grid-row: 2/3;
}
.player-4{
    position: relative;
    bottom: 60px;
    grid-column: 2/3;
    grid-row: 4/5;
}
.player-5{
    position: relative;
    bottom: 40px;
    grid-column: 2/3;
    grid-row: 5/6;
}
.player-6{
    position: relative;
    right: 80px;
    top: 25px;
    grid-column: 3/4;
    grid-row: 2/3;
}
.player-7{
    position: relative;
    right: 80px;
    bottom: 25px;
    grid-column: 3/4;
    grid-row: 4/5;
}
.player-8{
    position: relative;
    bottom: 50px;
    right: 70px;
    grid-column: 4/5;
    grid-row: 2/3;
}
.player-9{
    position: relative;
    right: 145px;
    top: 13px;
    grid-column: 4/5;
    grid-row: 3/4;
}
.player-10{
    position: relative;
    top: 70px;
    right: 70px;
    grid-column: 4/5;
    grid-row: 4/5;
}
.player-11{ 
    position: relative;
    right: 80px;
    top: 13px;
    grid-column: 5/6;
    grid-row: 3/4;
}
